{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h1>Criar conta</h1>
{% endblock header %}

{% block content %}

    {% if form.errors %}
        <p style="color: red;">* O nome de usuário não pode ter caracteres especiais.</p>
        <p style="color: red;">* A senha deve ter mais de 8 digitos, letras, números, caracteres especiais e não pode conter o nome de usuário.</p>
        <p style="color: red;">* As senhas digitadas precisam ser iguais.</p>
    {% endif %}

    <form action="{% url 'register' %}" method="POST" class="ul-none form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">Cadastrar</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="{% url 'index' %}" />
    </form>

{% endblock content %}